body{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
body{
    background-image: linear-gradient(135deg
    , #00b7d4, #505488, #2f3f80, #4542f7, #5A4894, #a950a1, #ff7eae, #84e208b9 );
    background-size: 500% ;
    animation: fanimado 10s infinite;
}
.texto {
    color: white;
    text-align: center center;
    margin: 300px 0;
    font-size: 26px;
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;    
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    

}

.boxprincipio {
    display: flex;
    flex-direction: row;
    align-items: center
    
}

header{
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}
a{
    text-decoration: none;
    color: aliceblue;
    border-color: rgb(2, 25, 46);
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.logo img{
    height: 55px;
    margin-right: 10px;
}
nav{
    padding-right: 500px;
}
nav a{
    font-weight: 700;
    padding-right: 20px;
    justify-content: center;
    
    
     
}
nav a:hover{
    color: black;
    border-color: antiquewhite;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

.contenedor{
    display: flex;
}
.div-1{
    background-color: #09080e34
    width: 350px;
    padding: 35px;
    margin-left: 0px;
    margin-right: 10px;
}
.div-2{
    background-color: #5a489462;
    width: 900px;
    padding: 35px;
    margin-left: 10px;
    margin-right: 0px;
    margin: top 10px;
}
.quienesSomos{
    background-color: #5a489462;
}
.contenedor2{
    display: flex;
}
.contenedor3{
    display: flex;
    margin-top: 10px;
}
.salidasGrupales{
    display: flex;
    background-color: #5a489462;
    width: 600px;
    padding: 50px;  
}
.cruceros{
    display: flex;
    background-color: #5a489462;
    width: 600px;
    padding: 50px;
    margin-left: 10px;
}
.contactenos{
    background-color: #5a489462;
    width: 600px;
    padding: 50px;
}
.mapa{
    background-color: #5a489462;
    width: 600px;
    padding: 50px;
    margin-left: 10px;
}
footer{
    display: grid;
    min-height: 50px;
    background-color: #5a489462;
    margin-top: 10px;
}

.containerlegal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.copyrightbox{
    display: flex;
    justify-content: center;
    font-size: small;
}


    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -3;
    }

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.slider-container{
    width: 300px;
    overflow:hidden
}
.slider{
    display: flex
    width: 50%
}
.skider img{
    width: 50%;
}